.coin{
    display: flex;
    align-items: center;
    /* overflow-x: hidden; */
    width: 100%;
    /* border: 4px solid red; */
    min-height: 100%;
    align-items: center;
    justify-content: center;

}



.coin_sidebar{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    border-right: 0.5px solid gray;
    /* border: 4px solid green; */
    /* background-color: green; */
    /* object-fit: contain !important; */
}

.coin_info{
    width: 100%;
    display: flex;
    flex: 2;
    /* border: 4px solid yellow; */
    /* background-color: red; */
}

.coin_heading{
    font-weight: bold !important;
    font-family: Montserrat !important;
    /* border: 1px solid blue; */
}

.coin_description{
    font-family: Montserrat;
    margin-left: 20px !important;
    margin-right: 20px !important;
    margin-top: 20px !important;
    text-align:justify;
    /* border: 5px solid purple; */
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    
}

.marketDat{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 20px !important;
  
}


.marketDat  > div > span{
    margin-top: 10px;
    /* border: 4px solid orange; */
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
   
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    .coin{
        flex-direction: column;
    }

    .coin_sidebar{
        align-items: center;
        justify-content: center;
        /* border-right: none; */
    }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    .coin{
        flex-direction: column;
    }

    .coin_sidebar{
        align-items: center;
        justify-content: center;
        /* border-right: none; */
    }
   

  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    .coin{
        flex-direction: column;
    }

    .coin_sidebar{
        align-items: center;
        justify-content: center;
        /* border-right: none; */
    }

    .coin_info{
        width: 100%;
        align-items: center;
        justify-content: center;
    }

   
    
  }

  
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    .coin{
        flex-direction: column;
    }

    .coin_sidebar{
        align-items: center;
        justify-content: center;
        /* border-right: none; */
    }

    .coin_info{
       
        align-items: center;
        justify-content: center;
    }

   
    
  }